<?php $assets['assets'] = "assets"; ?>
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>Analse Manager</title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- ================== BEGIN BASE CSS STYLE ================== -->
        <link href="<?php echo $assets['assets']; ?>/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="<?php echo $assets['assets']; ?>/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="<?php echo $assets['assets']; ?>/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" />
        <link href="<?php echo $assets['assets']; ?>/css/animate.min.css" rel="stylesheet" />
        <link href="<?php echo $assets['assets']; ?>/css/style.min.css" rel="stylesheet" />
        <link href="<?php echo $assets['assets']; ?>/css/style-responsive.min.css" rel="stylesheet" />
        <link href="<?php echo $assets['assets']; ?>/css/theme/default.css" rel="stylesheet" id="theme" />
        <!-- ================== END BASE CSS STYLE ================== -->

        <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
        <link href="<?php echo $assets['assets']; ?>/plugins/jquery-jvectormap/jquery-jvectormap.css" rel="stylesheet" />

        <link href="<?php echo $assets['assets']; ?>/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

        <!--<link href="<?php // echo $assets['assets'];                                                 ?>/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />-->
        <!-- ================== END PAGE LEVEL STYLE ================== -->

        <!-- ================== BEGIN BASE JS ================== -->
        <script src="<?php echo $assets['assets']; ?>/plugins/pace/pace.min.js"></script>
        <!-- ================== END BASE JS ================== -->
    </head>
    <body>
        <!-- begin #page-loader -->
        <div id="page-loader" class="fade in"><span class="spinner"></span></div>
        <!-- end #page-loader -->

        <!-- begin #page-container -->
        <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
            <!-- begin #header -->
            <?php $this->load->view('common/header', $assets); ?>
            <!-- end #header -->

            <!-- begin #sidebar -->
            <div id="sidebar" class="sidebar">
                <!-- begin sidebar scrollbar -->
                <div data-scrollbar="true" data-height="100%">
                    <!-- begin sidebar user -->
                    <ul class="nav">
                        <li class="nav-profile">
                            <div class="image">
                                <a href="javascript:;"><img src="<?php echo $assets['assets']; ?>/img/user-13.jpg" alt="" /></a>
                            </div>
                            <div class="info">
                                Sean Ngu
                                <small>Front end developer</small>
                            </div>
                        </li>
                    </ul>
                    <!-- end sidebar user -->
                    <!-- begin sidebar nav -->
                    <ul class="nav">
                        <li class="nav-header">Navigation</li>
                        <li><a href="data_home"><i class="ion-person-stalker bg-green"></i> <span>Players</span></a></li>
                        <li><a href="data_team"><i class="ion-qr-scanner bg-pink"></i> <span>Teams</span></a></li>
                        <li class="active"><a href="data_matches"><i class="ion-trophy bg-orange"></i> <span>Matches</span></a></li>
                        <!-- begin sidebar minify button -->
                        <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="ion-ios-arrow-left"></i> <span>Collapse</span></a></li>
                        <!-- end sidebar minify button -->
                    </ul>
                    <!-- end sidebar nav -->
                </div>
                <!-- end sidebar scrollbar -->
            </div>
            <div class="sidebar-bg"></div>
            <!-- end #sidebar -->

            <!-- begin #content -->
            <div id="content" class="content">
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-12 -->
                    <div class="col-md-12 ui-sortable">
                        <ul class="nav nav-tabs nav-tabs-inverse nav-justified nav-justified-mobile" data-sortable-id="index-2">
                            <li class="active"><a href="#match" data-toggle="tab"><i class="ion-ios-photos-outline f-s-16 m-r-5"></i> <span class="hidden-xs">Create match</span></a></li>
                            <li class=""><a href="#tournament" data-toggle="tab"><i class="ion-ios-cart f-s-16 m-r-5"></i> <span class="hidden-xs">Create tournament</span></a></li>
                        </ul>
                        <div class="tab-content" data-sortable-id="index-3">
                            <div class="tab-pane fade active in" id="match">
                                <div class="row" style="margin-top: 20px">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-md-1"></div>
                                            <label class="control-label col-md-1">Team one</label>
                                            <div class="col-md-4">
                                                <select class="form-control">
                                                    <option>Select a team</option>
                                                    <?php foreach ($teams as $ts) { ?>
                                                        <option value="<?php echo $ts['idteam']; ?>"><?php echo $ts['short_code']; ?></option>
                                                    <?php } ?>
                                                </select>
                                            </div>
                                            <label class="control-label col-md-1">Team two</label>
                                            <div class="col-md-4">
                                                <select class="form-control">
                                                    <option>Select a team</option>
                                                    <?php foreach ($teams as $ts) { ?>
                                                        <option value="<?php echo $ts['idteam']; ?>"><?php echo $ts['short_code']; ?></option>
                                                    <?php } ?>
                                                </select>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                        <div class="form-group" style="margin-top: 30px">
                                            <div class="col-md-1" style="width: 8.33%"></div>
                                            <label class="control-label col-md-1" style="padding-left: 0px;width: 8.4%">Overs</label>
                                            <div class="col-md-2" style="width: 19.26%">
                                                <select class="form-control" name="overs">
                                                    <option>Select a over count</option>
                                                    <option value="20">20</option>
                                                    <option value="50">50</option>
                                                    <!--<option value="90">unlimited</option>-->
                                                </select>
                                            </div>
                                            <label class="control-label col-md-1" style="padding-left: 0px;width: 7%">Date & time</label>
                                            <div class="col-md-2" style="width: 20.66%">
                                                <div class="input-group date" id="date1">
                                                    <input type="text" class="form-control">
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <label class="control-label col-md-1" style="padding-left: 0px;width: 7%">Location</label>
                                            <div class="col-md-2" style="width: 20.66%">
                                                <select class="form-control" name="location">
                                                    <option>Select a location</option>
                                                    <?php foreach ($locations as $ltns) { ?>
                                                        <option value="<?php echo $ltns['idlocation']; ?>"><?php echo $ltns['name']; ?></option>
                                                    <?php } ?>
                                                </select>
                                            </div>
                                            <div class="col-md-1"  style="width: 8.33%"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10">
                                                <a href="javascript:;" class="btn btn-inverse m-r-5" style="width: 100%;height: 40px">Create match</a>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tournament">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-1"></div>
                                        <label class="control-label col-md-1" style="padding-right: 0px;text-align: left">Name</label>
                                        <div class="col-md-9">
                                            <div class="input-group date" id="datetimepicker2">
                                                <input type="text" class="form-control">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-pencil"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">
                                            <select id="allTeamsList" multiple="true" class="form-control" style="min-height: 180px">
                                                <?php foreach ($teams as $ts) { ?>
                                                    <option id="allTeamItemId-<?php echo $ts['idteam']; ?>" value="<?php echo $ts['idteam']; ?>"><?php echo $ts['short_code']; ?></option>
                                                <?php } ?>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="row" style="padding-top: 50px">
                                                <div class="col-sm-12">
                                                    <button id="selectTeamsBtn" type="button" class="btn btn-info m-r-5 m-b-5" style="width: 100%">Select team <i class="ion ion-chevron-right"></i></button>
                                                </div>
                                                <div class="col-sm-12">
                                                    <button id="deselectTeamsBtn" type="button" class="btn btn-info m-r-5 m-b-5" style="width: 100%">Deselect team <i class="ion ion-chevron-left"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <select id="selectedTeamsList" multiple="true" class="form-control" style="min-height: 180px">

                                            </select>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <a href="javascript:;" class="btn btn-inverse m-r-5" style="width: 100%;height: 40px">Create tournament</a>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end col-12 -->                    
                </div>
                <!-- end row -->
            </div>
            <!-- end #content -->



            <!-- begin scroll to top btn -->
            <a href="javascript:;" class="btn btn-icon btn-circle btn-primary btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
            <!-- end scroll to top btn -->
        </div>
        <!-- end page container -->

        <!-- ================== BEGIN BASE JS ================== -->
        <script src="<?php echo $assets['assets']; ?>/plugins/jquery/jquery-1.9.1.min.js"></script>
        <script src="<?php echo $assets['assets']; ?>/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
        <script src="<?php echo $assets['assets']; ?>/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
        <script src="<?php echo $assets['assets']; ?>/plugins/bootstrap/js/bootstrap.min.js"></script>
        <!--[if lt IE 9]>
                <script src="<?php echo $assets['assets']; ?>/crossbrowserjs/html5shiv.js"></script>
                <script src="<?php echo $assets['assets']; ?>/crossbrowserjs/respond.min.js"></script>
                <script src="<?php echo $assets['assets']; ?>/crossbrowserjs/excanvas.min.js"></script>
        <![endif]-->
        <script src="<?php echo $assets['assets']; ?>/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="<?php echo $assets['assets']; ?>/plugins/jquery-cookie/jquery.cookie.js"></script>
        <!-- ================== END BASE JS ================== -->

        <!-- ================== BEGIN PAGE LEVEL JS ================== -->
        <!--<script src="<?php // echo $assets['assets'];                                                 ?>/plugins/gritter/js/jquery.gritter.js"></script>-->
        <script src="<?php echo $assets['assets']; ?>/plugins/flot/jquery.flot.min.js"></script>
        <script src="<?php echo $assets['assets']; ?>/plugins/flot/jquery.flot.time.min.js"></script>
        <script src="<?php echo $assets['assets']; ?>/plugins/flot/jquery.flot.resize.min.js"></script>
        <script src="<?php echo $assets['assets']; ?>/plugins/flot/jquery.flot.pie.min.js"></script>
        <script src="<?php echo $assets['assets']; ?>/plugins/sparkline/jquery.sparkline.js"></script>
        <script src="<?php echo $assets['assets']; ?>/plugins/jquery-jvectormap/jquery-jvectormap.min.js"></script>
        <script src="<?php echo $assets['assets']; ?>/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <script src="<?php echo $assets['assets']; ?>/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="<?php echo $assets['assets']; ?>/js/dashboard.min.js"></script>
        <script src="<?php echo $assets['assets']; ?>/js/apps.min.js"></script>
        <!-- ================== END PAGE LEVEL JS ================== -->

        <script>
            $(document).ready(function () {
                App.init();
                Dashboard.init();

                //
                $("#selectTeamsBtn").click(function () {
                    $.each($("#allTeamsList").val(), function (index, value) {
                        var optionValue = value;
                        var optionText = $("#allTeamsList>option[value='" + value + "']").text();
                        var id = $("#allTeamsList>option[value='" + value + "']").attr('id');
                        $("#selectedTeamsList").append("<option id='selectedTeamItemId-" + optionValue + "' value = '" + optionValue + "'>" + optionText + "</option>");
                        $("#" + id).remove();
                    });
                });
                $("#deselectTeamsBtn").click(function () {
                    $.each($("#selectedTeamsList").val(), function (index, value) {
                        var optionValue = value;
                        var optionText = $("#selectedTeamsList>option[value='" + value + "']").text();
                        var id = $("#selectedTeamsList>option[value='" + value + "']").attr('id');
                        $("#allTeamsList").append("<option id='allTeamItemId-" + optionValue + "' value = '" + optionValue + "'>" + optionText + "</option>");
                        $("#" + id).remove();
                    });
                });


                $("#date1").datetimepicker();
            });
        </script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '../../../../www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-53034621-1', 'auto');
            ga('send', 'pageview');

        </script>
    </body>

</html>
<?php


